//- _partials/fonts.pug
//--- Google Fonts
link(
  href="https://fonts.googleapis.com/css2?family=Material+Icons&family=New+Rocker&family=Roboto:wght@500&display=swap"
  rel="stylesheet")

//--- Load FontAwesome
script(defer
  src="https://use.fontawesome.com/releases/v5.15.1/js/all.js"
  integrity="sha384-9/D4ECZvKMVEJ9Bhr3ZnUAF+Ahlagp1cyPC7h5yDlZdXs4DQ/vRftzfd+2uFUuqS"
  crossorigin="anonymous")
