//- _partials/scripts.pug
if relpath
  - relpath= relpath
else
  - relpath= ""

// jQuery first, then popper.js, then UniKorn JS.
script(defer
  src="https://code.jquery.com/jquery-3.5.0.slim.min.js"
  integrity="sha384-/IFzzQmt1S744I+IQO4Mc1uphkxbXt1tEwjQ/qSw2p8pXWck09sLvqHmKDYYwReJ"
  crossorigin="anonymous")
script(defer
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
  crossorigin="anonymous")

script(src=relpath + "js/unikorn.js")
//- script(src=relpath + "js/unikorn.min.js")
